.alert-success {
    background-color: darkgreen;
    width: 300px;
    padding: 5px 5px;
    color:white;
}

.alert-warning {
    background-color: rgb(188, 69, 0);
    width: 300px;
    padding: 5px 5px;
    color:white;
}

.alert-danger {
    background-color: darkred;
    width: 300px;
    padding: 5px 5px;
    color:white;
}

.alert-info {
    background-color: darkblue;
    width: 300px;
    padding: 5px 5px;
    color:white;
}

div{
    margin-left:35px;
}
form div{
    padding-top:10px;
}

input[type=email]{
    padding: 5px;
    border: 2px solid #2A2B32;
    border-radius: 5px;
}
input[type=text]{
    padding:5px;
    border:2px solid #2A2B32;
    border-radius: 5px;
    width:400px;
}
input[input=text]:focus{
    border-color: #31374D;
}
input[type=password]{
    padding:3px;
    border:2px solid #2A2B32;
    border-radius: 5px;
}
input[input=password]:focus{
    border-color: #31374D;
}
input, textarea{
    background-color: #333437;
    color: #fee9d4;

}
input[type=submit]{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2 ease-in;
    padding:10px 20px;
    background-color: #625178;
    color: #D7C0A9;
    margin-left:50px;
    margin-top: 10px;
    font-family: 'Courier';
    border-radius:8px;
}
input[type=submit]:hover{
    background-color: #453954;
}
nav li{
    display: inline; 
    background-color: #f8f9fa;
}
nav li a{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2 ease-in;
    color: white;
    float: left;
    display: block;
    margin-left:7px;
    margin-right:7px;
    background-color: #f8f9fa;
}
.dropdown-item{
    width:145px;
}
nav li a:hover{
    background-color: #edeff1;
}
nav::after{
    font-size: 60px;
    content: "\a";
    white-space: pre;
}
input{
    border-radius: 0%;
}
body{
    background-color: #41485F;
    font-family: "Courier";
    color: white;
}
th{
    color:white;
}
td{
    margin-left:60px;
    margin-right:60px;
    color:rgb(255, 255, 255);
}
th, td{
    width:225px;
    text-align:center;
    border:1px solid rgb(255, 240, 220);
    padding:5px;
}

.filterDiv{
    display:inline-block;
}

h1{
    margin-left:40px;
    margin-top:20px;
}

.itemCard{
    text-align:left;
    background-color: #3c404f;
    display:inline-block;
    box-shadow: 0 4px 8px 0 rgb(29, 29, 29);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    margin-top:25px;
}

.itemCard:hover{
    box-shadow: 0 8px 16px 0 rgb(29, 29, 29);
}

.itemContainer{
    text-align:left;
}

img{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}