.alert-success {
    text-align:center;
    background-color: darkgreen;
    width: 500px;
    padding: 5px 5px;
    color:white;
}

.alert-warning {
    text-align:center;
    background-color: rgb(188, 69, 0);
    width: 500px;
    padding: 5px 5px;
    color:white;
}

.alert-danger {
    text-align:center;
    background-color: darkred;
    width: 500px;
    padding: 5px 5px;
    color:white;
}

.alert-info {
    text-align:center;
    background-color: darkblue;
    width: 500px;
    padding: 5px 5px;
    color:white;
}

div{
    margin-left:35px;
}
form div{
    padding-top:10px;
}

input[type=email]{
    padding: 5px;
    border: 2px solid #2A2B32;
    border-radius: 5px;
    width: 350px;
}
input[type=text]{
    padding:5px;
    border:2px solid #2A2B32;
    border-radius: 5px;
    width:350px;
}
input[input=text]:focus{
    border-color: #31374D;
}
input[type=password]{
    padding:3px;
    border:2px solid #2A2B32;
    border-radius: 5px;
    width:350px;
}
input[input=password]:focus{
    border-color: #31374D;
}
input, textarea{
    background-color: white;
    color: black;

}
input[type=submit]{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2 ease-in;
    padding:10px 20px;
    background-color: #625178;
    color: white;
    margin-left:50px;
    margin-top: 10px;
    font-family: 'Gadugi';
    border-radius:8px;
}
input[type=submit]:hover{
    background-color: #453954;
}
button{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2 ease-in;
    padding:10px 20px;
    background-color: #625178;
    color: white;
    margin-left:30px;
    margin-top: 10px;
    font-family: 'Gadugi';
    border-radius:8px;
}
button:hover{
    background-color: #453954;
}
nav li{
    display: inline; 
    background-color: #f8f9fa;
}
nav li a{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2 ease-in;
    color: white;
    float: left;
    display: block;
    margin-left:7px;
    margin-right:7px;
    background-color: #f8f9fa;
}
.dropdown-item{
    width:145px;
}
nav li a:hover{
    background-color: #edeff1;
}
nav::after{
    font-size: 60px;
    content: "\a";
    white-space: pre;
}
input{
    border-radius: 0%;
}
body{
    background-color: #41485F;
    font-family: "Gadugi";
    color: white;
}
th{
    color:white;
}
td{
    margin-left:60px;
    margin-right:60px;
    color:rgb(255, 255, 255);
}
th, td{
    width:225px;
    text-align:center;
    border:2px solid rgb(57, 60, 71);
    padding:5px;
}

label{
    display:block;
    margin-bottom:5px;
}

.visRadio{
    display:inline-block;
}

.formFilters div{
    display:inline-block;
}

h1{
    margin-left:40px;
    margin-top:20px;
}

.itemCard{
    text-align:left;
    background-color: #3c404f;
    display:inline-block;
    box-shadow: 0 4px 8px 0 rgb(29, 29, 29);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    margin-top:25px;
    margin-bottom:20px;
}

.itemCard:hover{
    box-shadow: 0 8px 16px 0 rgb(29, 29, 29);
}

.itemContainer{
    text-align:left;
}

img{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

textarea{
    width:350px;
    display:inline-block;
}

select,option{
    width:175px;
}

option{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img {
    width: 300px;
    height: 300px;
}

#Pages{
    text-align: center;
    padding:30px;
}

.PageNumbers{
    margin: 10px;
    padding:5px 15px 5px 15px;
    background-color:white;
    border-radius:5px;
}

.productsListDiv{
    text-align:center;
    margin-left:0px;
}
